<h1>Listing comment</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>    
      <td><%= comment.commenter %></td>
      <td><%= comment.body %></td>      
    </tr>
  <% end %>
</table>
